.faculties-title {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px;
    margin-bottom: 25px;
}

.faculties-icon i {
    color: white;
    background-color: #4a5568;
    padding: 30px;
    font-size: 1.5rem;
}

.faculties-main-titles {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}

.faculties-main-title {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    font-weight: normal;
    font-size: 1.35rem;
    color: #4a5568;
}

.faculties-suggestion {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 72px;
    font-weight: normal;
    font-size: 0.95rem;
    color: #68d391;
}

.faculties-explanation {
    margin: 0 22px;
    font-size: 0.95rem;
    color: #8592a5;
}

.faculties {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media (max-width: 1247px){
    .faculties-title{
        margin-top: 40px;
    }
}

@media (max-width: 923px) {
    .faculties-title{
        margin-top: 70px;
    }
}
@media (max-width: 745px) {
    .faculties-title{
        margin-top: 90px;
    }
}
@media (max-width: 699px) {
    .faculties-title{
        margin-top: 110px;
    }
}

@media (max-width: 618px) {
    .faculties-title{
        margin-top: 120px;
    }
    .faculties-main-title{
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .faculties-explanation{
        font-size: 14px;
    }
    .faculties-suggestion{
        font-size: 12px;
        margin-right: 90px;
    }
    .faculties-icon i{
        padding: 20px;
        font-size: 18px;
    }
}

@media (max-width: 603px) {
    .faculties-title{
        margin-top: 140px;
    }
}

@media (max-width: 520px) {
    .faculties-title{
        margin-top: 160px;
    }
}
@media (max-width: 486px) {
    .faculties-title{
        margin-top: 180px;
    }
    .faculties-main-title{
        font-size: 16px;
    }
    .faculties-explanation{
        font-size: 12px;
    }
    .faculties-suggestion{
        font-size: 10px;
        margin-right: 80px;
        margin-top: 0;
    }
    .faculties-icon i{
        padding: 15px;
        font-size: 16px;
    }
}
@media (max-width: 390px) {
    .faculties-main-title{
        font-size: 14px;
    }
    .faculties-explanation{
        font-size: 10px;
    }
    .faculties-suggestion{
        font-size: 8px;
        margin-right: 65px;
    }
    .faculties-icon i{
        padding: 15px;
        font-size: 14px;
    }
}

@media (max-width: 299px) {
    .faculties-main-title{
        margin-right: 5px
    }
    .faculties-explanation{
        margin-right: 5px;
    }
}