.main {
    margin-top: 150px;
}

.main h1 {
    color: #4a5568;
}

.main p {
    color: #4a5568;
    margin: 8px 0;
    line-height: 190%;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.uni-button {
    background-color: #4a5568;
    margin-right: 10px;
}

.buttons {
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: inherit;
}

@media(max-width: 766px){
    .main h1{
        font-size: 24px;
    }
    .main p {
        font-size: 14px;
    }
    .uni-button , .login-button{
        font-size: 12px;
    }
    .buttons{
        margin-top: 20px;
    }
}
@media(max-width: 657px){
    .main h1{
        font-size: 22px;
    }
    .main p {
        font-size: 12px;
    }
    .uni-button , .login-button{
        font-size: 10px;
    }
    .buttons{
        margin-top: 10px;
    }
}
@media(max-width: 609px){
    .main h1{
        font-size: 20px;
    }
    .main p {
        font-size: 10px;
    }
    .uni-button , .login-button{
        font-size: 8px;
    }
    .buttons{
        margin-top: 20px;
    }

}
@media(max-width: 397px){
    .main h1{
        font-size: 18px;
    }
    .main p {
        font-size: 8px;
    }
    .uni-button , .login-button{
        font-size: 6px;
    }
    .buttons{
        margin-top: 20px;
    }

}

