.contact-us__subject{
    margin-top: 100px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 50px;
}

.contact-us__icon i{
    padding: 30px;
    background-color: #4a5568;
    color: white;
}

.contact-us__title{
    margin: 10px 20px 10px 0 ;
    color: #4a5568;
    font-weight: normal;
    font-size: 1.25rem;
}

.contact-us__description{
    margin: 15px 20px 0 0 ;
    color: #8592a5;
}

.contact-us__form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.contact-us__input{
    padding: 10px 5px 10px 138px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.contact-us__comment{
    border-radius: 5px;
    border:1px solid #8592a5;
    direction: rtl;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 14px;
    padding-right: 10px;
    margin-bottom: 20px;
    color: #8592a5;
}

.contact-us__comment:focus{
    outline: none;
}
