a{
    text-decoration: none;
}
.header {
    background: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: baseline;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    box-shadow: 1px 1px 10px #8592a5;
}
.navbar {
    margin-top: 10px;
}

.logo {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    color: #4a5568;
}

.main-title h2 {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 0;
}

.main-title p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #8592a5;
}
.navbar a {
    margin: 5px 10px;
    color: #4a5568;
}

/*navbar responsive hamburger menu*/

.menu__toggle {
    opacity: 0;
    margin-left: 0;
}
.menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
.menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
.menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
.menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(247, 250, 252,0.6);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    backdrop-filter: blur(5px);
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #4a5568;
    font-size: 15px;
    text-decoration: none;
    transition-duration: .25s;
}
/*.menu__item:hover {*/
/*    background-color: #CFD8DC;*/
/*}*/

.menu__item-button{
   padding: 0;
}

@media (min-width: 1063px) {
    .main-title p {
        margin-right: 75px;
    }
}

@media (min-width: 748px){
    .hamburger-menu{
        display: none;
    }
}

@media (max-width: 748px) {
    .header{
        justify-content: space-between;
    }
    .navbar{
        display: none;
    }
}

@media(max-width: 618px){
    .logo{
        font-size: 16px
    }
    .main-title h2{
        font-size: 18px;
    }
    .main-title p {
        font-size: 14px;
    }
}

@media(max-width: 479px){
    .logo{
        font-size: 14px;
    }
    .main-title h2{
        font-size: 14px;
    }
    .main-title p{
        font-size: 12px;
    }
}

@media (max-width: 397px) {
    .header{
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .menu__btn{
        width: 24px;
    }
}