.search-form{
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid #8592a5;
    width: 250px;
}

.search-button {
    padding: 4px 12px;
    color: white;
    background: #68d391;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    border-radius: 25px;
}

.search-input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border: 0;
    background-color: transparent;
    direction: rtl;
    width: calc(100% - 38px);
}

.search-input:focus {
    outline: none;
}

.search-button i {
    margin-left: 0;
    color: white;
}