.search-form{
    border-radius: 25px;
    width: 250px;
    overflow: hidden;
    border: 1px solid #8592a5;
}


.search-button {
    padding: 4px 12px;
    color: white;
    background: #68d391;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    border-radius: 25px;
    margin-right: 2px;
}

.search-input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    background-color: transparent;
    border: none;
    direction: rtl;
    width: calc(100% - 40px);
    padding-right: 5px ;
}
.search-input:focus {
    outline: none;
}

.search-button i {
    margin-left: 0;
    color: white;
}