.login-modal{
    max-width: 450px;
    width: 100%;
}

.login-title{
    text-align: center;
    font-size: 18px;
    color: #4a5568;
    margin-bottom: 0;
}

.login-description{
    text-align: center;
    color: #8592a5;
    font-size: 15px;
    margin-top: 5px;
}

.login-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.login-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.login-signup{
    color: #68d391;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.login-button{
    width: 100%;
}