.teacher-info{
    margin-top: 100px;
    background-color: white;
    display: inline-block;
    padding: 20px 20px 20px 150px;
    margin-right: 150px;
}

.teacher-button{
    font-size: 14px;
    padding: 5px 10px;
    display: inline-block ;
}

.name__position{
    direction: rtl;
}
.name__position h3{
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 0;
    color: #4a5568;
}

.faculty{
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    color: #4a5568;
}

.faculty-title{
    margin-left: 10px;
    margin-bottom: 0;
}

.score{
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    color: #4a5568;
}

.score p{
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
}

.score h4{
    margin-top: 0;
    margin-bottom: 0;
}